body {
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  white-space: pre;
}

table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}

td, th {
  text-align: left;
  border: 1px dotted black;
  padding: 5px;
}

tr:hover {
  background-color: #f2f2f2;
}
